html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}

td,
th {
    text-align: left;
    padding: 5px 8px;
}

thead {
    background: #009999;
    color: #fff;
    font-size: 14px;
}

tbody {
    background: #efffff;
    font-size: 13px;
}

tfoot {
    font-size: 13px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */

.container {
    width: calc(900px - 4rem);
    padding: 1rem 4rem;
    margin: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-bold {
    font-weight: bold;
}

.logo {
    width: 370px;
    height: auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 2rem;
}

.invoice {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #009999;
    color: #fff;
    font-size: 14px;
    height: 25px;
    padding: .5rem;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.intro-title {
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 5px;
}

.intro-address {
    font-size: 13px;
    line-height: 125%;
}

.intro-col-1 {
    padding-bottom: 3rem;
}

.date {
    font-size: 14px;
}

.total-higthlight {
    color: red;
}

.info {
    width: 300px;
    font-size: 14px;
}

.title-info {
    font-weight: bold;
    margin-bottom: 10px;
}

.info p {
    margin-bottom: 20px;
    line-height: 125%;
}

.info p span {
    display: block
}

.payment-table {
    width: 300px;
}

.footer {
    margin-top: 4rem;
    font-size: 14px;
    line-height: 150%;
}

.table-footer td {
    padding: 1.5rem 8px;
}